.pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #e3e3e3;
    color: #6c6b6b;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.page-btn:hover {
    color: white;
    background-color: #4884ee;
}

.page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 16px 10px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    color: #6c6b6b;
}

.active {
    color: white;
    background-color: #4884ee;
    padding: 16px 12px;
}

.number-wrapper {
    display: flex;
    gap: 6px;
    padding: 0px 6px;
    background-color: #e3e3e3;
    border-radius: 14px;
}



@media screen and (max-width: 570px) {
    .pagination-wrapper {
        flex-direction: column;
        gap: 6px;

        &__delete-all{
            width: 100%;

            button{
                width: 100%;
            }
        }
    }
}