<div class="pagination-wrapper">
    <div>
        <button nz-button nzType="default" nzDanger (click)="onClickOfDeleteSelected()">
            Delete selected
        </button>
    </div>
    <div class="pagination">
        <button class="page-btn" (click)="paginationEvent('FIRST_PAGE')">
            <span nz-icon nzType="double-left" nzTheme="outline"></span>
        </button>
        <button class="page-btn" (click)="paginationEvent('PREVIOUS_PAGE')">
            <span nz-icon nzType="left" nzTheme="outline"></span>
        </button>
        <div class="page-numbers" (click)="paginationEvent('CURRENT_PAGE')">
            <span>1</span>
        </div>
        <button class="page-btn" (click)="paginationEvent('NEXT_PAGE')">
            <span nz-icon nzType="right" nzTheme="outline"></span>
        </button>
        <button class="page-btn" (click)="paginationEvent('LAST_PAGE')">
            <span nz-icon nzType="double-right" nzTheme="outline"></span>
        </button>
    </div>
</div>