<div class="grid-container">
  <div class="grid-container__table-wrapper">
    <nz-table
      #basicTable
      [nzFrontPagination]="false"
      [nzData]="listOfData.slice(spliceValue.start,spliceValue.end) || []"
      [nzTemplateMode]="true"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>
            <label
              nz-checkbox
              [(ngModel)]="checked"
              (ngModelChange)="onSelectAll($event)"
            ></label>
          </th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data" [ngClass]="{'highlighted-row': data.checked}">
          <td><label nz-checkbox [(ngModel)]="data.checked" ></label></td>
          <td>{{ data.name }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.role }}</td>
          <td>
            <div class="action-btns">
              <span
                nz-icon
                nzType="edit"
                nzTheme="outline"
                class="action-btns__edit"
                (click)="edit(data)"
              ></span>
              <span
                nz-icon
                nzType="delete"
                nzTheme="outline"
                class="action-btns__delete"
                (click)="delete(data)"
              ></span>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="grid-container__pagination">
    <app-pagination
      (changePage)="changePagination($event)"
      (deleteRow)="onSelectOfDeleteRow()"
      [total]="listOfData?.length"
      [currentPage]="currentPage"
    ></app-pagination>
  </div>
</div>
