<div class="main-container" *ngIf="searchData">
    <div class="main-container__search-bar">
        <app-search-bar (searchData)="search($event)" [searchKey]="searchKey"></app-search-bar>
    </div>
    <div class="main-container__grid-wrapper" >
        <app-grid [listOfData]="searchData" (deleteRow)="deleteRow($event)" (editRow)="editRow($event)"
            (deleteSelectedRow)="deleteSelectedData($event)" (paginationEvent)="onPagination($event)"></app-grid>
    </div>
</div>

<nz-modal *ngIf="isVisible" [(nzVisible)]="isVisible" nzCentered="true" nzTitle="Edit User" nzOkText="Update"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form class="form-container" [formGroup]="adminForm">
            <div class="form-container__form-row">
                <label>Name</label>
                <input nz-input formControlName="name" nz-input placeholder="Enter name" type="text" />
            </div>
            <div class="form-container__form-row">
                <label>Email</label>
                <input nz-input formControlName="email" nz-input placeholder="Enter email" type="text" />
            </div>
            <div class="form-container__form-row">
                <label>Role</label>
                <input nz-input formControlName="role" nz-input placeholder="Enter role" type="text" />
            </div>
        </form>
    </ng-container>
</nz-modal>